/* TODO:  
  - format link font-family

*/

body {
  margin: 0;
}

header {
  background-color: #ffffff;
  border-color: #dddddd;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  height: 90px;
  width: 100%;
  justify-content: center;
  font-family: "font-family: 'Georgia', Times, Times New Roman, serif;";
  box-shadow: 0px 1px 10px grey;
}
.header-center-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 960px;
  height: 90px;
}

.header-tag {
  background-color: #4aaaa5;
  height: 90px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.links-container {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 300px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding-left: 100px;
  padding-right: 100px;
}
.background-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
  background-image: url("../images/background.jpeg");
}

.main-header {
  border-color: #cccccc;
}

.main-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-color: #dddddd;
  border-width: 1px;
  margin-top: 170px;
  width: 960px;
}

#contact {
  margin-top: 140px;
}

#portfolio {
  margin-top: 140px;
  margin-bottom: 100px;
}

.content-header {
  font-family: "Georgia", Times, serif;
  color: #4aaaa5;
  display: flex;
  width: 95%;
  align-items: flex-start;
  height: 30px;
  font-size: 30px;
}

.divider {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  height: 2px;
  width: 95%;
}

.about-content {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 95%;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #777777;
}

.contact-content {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 95%;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #777777;
}
.portfolio-content {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-content: center;
  width: 95%;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #777777;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.profile-pic {
  margin-right: 20px;
  float: left;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
input {
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 18px;
  border: 1px solid lightgray;
  border-radius: 4px;
  color: #777777;
}

#message-input {
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid lightgrey;
  color: #777777;
}

input:focus,
#message-input:focus,
#submit-button:focus {
  outline: none !important;
  box-shadow: 0 0 3px #4aaaa5;
  border: 1px solid #4aaaa5;
}

#submit-button {
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 18px;
  border-radius: 4px;
  background-color: #4aaaa5;
  color: white;
}

.project-card-container {
  position: relative;
  height: 200px;
  margin-bottom: 30px;
}
.project-name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100px;
  width: 100%;
  background-color: #4aaaa5;
  opacity: 0.8;
  color: white;
}

a {
  color: #777777;
  text-decoration: none;
  text-decoration-color: none;
}

a:visited {
  color: #777777;
  text-decoration: none;
  text-decoration-color: none;
}

a:hover {
  color: black;
}

footer {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  display: flex;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #666666;
  border-top: 8px solid #4aaaa5;
  color: lightgrey;
}
