/* TODO:  
  - format link font-family

*/

body {
  margin: 0;
}

header {
  background-color: #ffffff;
  border-color: #dddddd;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  height: 90px;
  width: 100%;
  justify-content: center;
  font-family: "font-family: 'Georgia', Times, Times New Roman, serif;";
  box-shadow: 0px 1px 10px grey;
}
.header-center-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 960px;
  height: 90px;
}

.header-tag {
  background-color: #4aaaa5;
  width: 200px;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.links-container {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 300px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 100px;
}
.background-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
  background-image: url("../images/background.jpeg");
}

.main-header {
  border-color: #cccccc;
}

.main-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-color: #dddddd;
  margin-top: 100px;
  max-width: 960px;
}

.content-header {
  font-family: "Georgia", Times, serif;
  color: #4aaaa5;
  display: flex;
  width: 95%;
  align-items: flex-start;
  height: 40px;
  font-size: 40px;
}

.divider {
  display: flex;
  flex-direction: row;
  background-color: grey;
  height: 2px;
  width: 95%;
}

.about-content {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 95%;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #777777;
}

a {
  color: #777777;
  text-decoration: none;
  text-decoration-color: none;
}

a:visited {
  color: #777777;
  text-decoration: none;
  text-decoration-color: none;
}

a:hover {
  color: black;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  z-index: 1;
  flex-direction: column;
  background-color: grey;
  border-top: 8px solid #4aaaa5;
}
